.profile-grid {
    display: grid;
    width: 80%;
    height: auto;
    margin-top: 3rem;
    margin-left: 10%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
}

.profile-data {
    display: block;
    grid-row:2;
    grid-column: 1;
    border-radius: 10px;
    width: 55%;
    margin-top: 1em;
    margin-left: 17.5%;
}

form {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
    border: 5px solid #4285f4;
    height: 100%;
    width: 80%;
    border-radius: 15px;
}

.profile-data-left {
    grid-column: 1;               
    grid-row-start: 1;           
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    width: 80%;                 
    margin: 1rem auto;
    padding: 1rem;
    border: 5px solid #4285f4;  
    border-radius: 15px;
    background-color: #f9f9f9;   
  }
  
  .profile-data-left h2 {
    text-align: center;
    color: #4285f4;
    margin-bottom: 1rem;
  }
  
  .profile-data-left p {
    margin: 0.5rem 0;
  }
  