header {
    display: flex;
    width: 100%;
}

.title {
    width: 430px;
}

.title h1 {
    margin-bottom: 0px;
    font-size: 4em;
    height: auto;
    width: auto;
    text-align: right;
}

.nav {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 100px;
    align-items: flex-end;
    gap: 2rem;
}
.line{
    position: absolute;
    height: 6px;
    background-color: #4285f4;
    width: 100%;
    top: 7.5rem;
}
.line::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 29rem;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 30px;
    background-color: #4285f4;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 30.4rem;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 30px;
    background-color: #4285f4;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.link {
    text-decoration: none;
    color: black;
    margin-bottom: 0.5rem;
    transition: 0.2s ease;
}
.link:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #4285f4;
    text-underline-offset: 5px;
    cursor: pointer;
}
.current {
    font-weight: bold;
    color: rgba(0, 0, 0, .75);
    text-decoration: underline;
    text-decoration-color: #4285f4;
    text-underline-offset: 5px;
}

.nav button{
    background: none;
    border: none;
    color: #4285f4;
    font-size: medium;
    margin-bottom: 0.5rem;
    transition: 0.2s ease;
}
.nav button:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #4285f4;
    text-underline-offset: 5px;
}