.profile-grid {
    display: grid;
    width: 80%;
    height: auto;
    margin-top: 3rem;
    margin-left: 10%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
}

.profile-data {
    display: block;
    grid-row:2;
    grid-column: 1;
    border-radius: 10px;
    width: 55%;
    margin-top: 5em;
    margin-left: 17.5%;
}

form {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
    border: 5px solid #4285f4;
    height: 100%;
    width: 80%;
    border-radius: 15px;
}